.icon-heart{
	fill:#ccc !important;
	width: 25px !important;
	heigth: 25px !important;
	transition: .5s;
}
.icon-heart:hover{
	fill: #292D51 !important;
	transform: scale(1.1)!important;
}
.icon-heart.activeliked{
	/* fill: #1cac32 !important; */
	transform: scale(1.2)!important;
}