
.app{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
 }
 .container{
	margin: 0 auto;
 }

 div.ant-typography, .ant-typography p{
	margin-bottom: 0;
 }


 .ant-card-body {
	padding: 0px !important;
}
.react-multi-carousel-list {
overflow: visible !important;
}
img{
	display: inline-block;
}
.active{
	color: #00FF26 !important;
}

p{
	margin-bottom: 0 !important;
}

a { 
	text-decoration: none;
  }
  a:hover { 
	text-decoration: none;
  }


.icon-card{
	fill:gray !important;
	width: 2.4em;
	height: 2.4em;
}


.radio{
	margin-right: 2em;
	margin-bottom: 2em;
}

.radio:hover + span{
	transform: scale(1.2);
	transition: 0.3s;
}
.radio:checked + span{
	transform: scale(1.3);
}



.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: #fff;
  font-size: 3em;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 20px;
  z-index: 2;
  color: #ccc;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 35px;
  z-index: 2;
  color: #ccc;
}
@media screen and (max-width: 476px){

}

