.icon-vesy{
	fill: #ccc !important;
	width: 25px !important;
	heigth: 25px !important;
	transition: .5s;
}
.icon-vesy:hover{
	fill: #292D51 !important;
	transform: scale(1.1);
}
.icon-vesy.activevesy{
	fill: #1cac32 !important;
	transform: scale(1.2);
}
@media screen and (max-width: 476px){
	.icon-vesy{
	width: 20px !important;
	heigth: 20px !important;
}
}